/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/

/*header*/
body{
    font-family: "Nerko One",Arial, Helvetica, sans-serif;
    background-color: #add8e6;
    
}
/*end header*/

/*main*/
.container{
    width: 1024px;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 110px;
    color: white;
}

.row{
    text-align: center;
}

.card{
    height: 200px;
    display: inline-block;
    width: 150px;
    margin: 10px;
    background-image: url(../img/pattern.png);
    background-size: 170px;
    border-radius: 10%;
    overflow: hidden;
    background-color: white;
    padding: 10px;
    position: relative;
}

.text{
    color: orange;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    left: -5px;
    display: none;
}

.text.active{
    display: block;
}

.text:hover{
    color: blue;
    
    
}

.card.active{
    background-image: none;
    
}
.card:hover{
    background-image: none;
}

.card:hover img{
    display: inline-block;
}
.card:hover .text{
    display: block;
}
img{
    width: 100%;
    background-color: white;
}


.card img{
    display: none;
}

.card.active img{
    display: block;
}
/*end main*/

/*footer*/

h2{
    color: black;
    text-align: center;
    font-size: 30px;
}
/*end footer*/


/*end body*/