/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/

/*header*/
body{
    font-family: "Nerko One",Arial, Helvetica, sans-serif;
    background-color: #add8e6;
    
}
/*end header*/

/*main*/
.container{
    width: 1024px;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 110px;
    color: white;
}

.row{
    text-align: center;
}

.card{
    height: 200px;
    display: inline-block;
    width: 20%;
    margin: 10px;
    background-color: red;
    background-image: url(../img/pattern.png);
    background-size: 170px;
    border-radius: 10%;
}
/*ultima cosa aggiunta,ripartire da qui */
.card img{
    display: none;
}
/*end main*/

/*footer*/

h2{
    color: black;
    text-align: center;
    font-size: 30px;
}
/*end footer*/


/*end body*/