/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body{
    font-family: "Nerko One",Arial, Helvetica, sans-serif;
    background-color: #add8e6;
    
}

.container{
    width: 1024px;
    margin: auto;
}

h1{
    text-align: center;
}

.row{
    text-align: center;
}

.card{
    height: 200px;
    display: inline-block;
    width: 20%;
    margin: 10px;
    background-color: red;
    background-image: url(../img/pattern.png);
    background-size: 170px;
}



/*end body*/